<!--The content below is only a placeholder and can be replaced.-->
<div id="container">
  <div class="leftDiv">
     <img src="./assets/logo.jpg" style="width: 50%;">
  </div>
  <div class="rightDiv">
     <h1 style="text-align: center; margin: 0px;display: block;color: #fff;">
        Bhilwara Infotech
     </h1>
  </div>
</div>
<div id="container2">
  <div class="welcomDiv">
     <h1 style="text-align: center; margin: 0px;display: block; color: #fff">
        Welcome To Bhilwara Infotech
     </h1>
  </div>
</div>

<div class="slides">
  <img class="mySlides" src="./assets/slide1.jpg" style="width:100%">
  <!-- <img class="mySlides" src="./assets/slide2.jpg" style="width:100%">
  <img class="mySlides" src="./assets/slide3.jpg" style="width:100%"> -->
</div>
<div class="footerDiv" style="background: #e3d6ac">
  <div class="block1">
     <p>Phone Number: +91-9999999999</p>
  </div>
  <div class="block2">
     <p>Location: 
        Bhilwara Infotechnology Limited
        #244, Fortune Summit Business Park
        1st Floor, Hosur Road 
        Near Silk Board Junction
        Bengaluru, India – 560068.
        Phone: +91-80-46306666
        Fax: +91-80-41466262
        e-mail: info@bhilwarainfo.com
     </p>
  </div>
  <div class="block3">
     <p>Fax Number:+1 323 555 1234</p>
  </div>
</div>